form{ width: 500px; margin: 0 auto;}
table{ margin: 0 auto 20px; }
th{text-align: left;}
td, th{ border-bottom: 1px solid #ccc; padding: 10px; }
.hide, .edit{ display: none; }
.show{ display: block; }
.save,.edit{ width: 100px; }